<h1>タスク管理TOP</h1>

<%# if logged_in? %>
  
<%# else %>
      
      <h2><%= current_user.name %>さん、タスクを登録しよう！</h2>
      
      <%= render 'form',task: @task %>


        


<%# end %>
        <h2><%= current_user.name %>さんのタスクリスト！</h2>
        <ul>
            <% @tasks.each do |task|%>
            <li><%= link_to task.id , task_path(task) %>:<%= task.status %> <%= task.content %></li>
            <% end %>
        </ul>




<%#= render 'tasks/tasks', tasks: @tasks %>


<%#= link_to '登録する', register_path %>

<%#= link_to  '新規タスクの投稿', new_task_path %>